html {
  background: #0cebeb;
  background: linear-gradient(to left, #29ffc6, #20e3b2, #0cebeb);
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #0ca678;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

.btn-add {
  font-size: 1.5rem;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #0ca678;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #0ca678;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #0ca678;
}

::placeholder {
  color: rgba(170, 170, 170, 0.5);
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 14px;
}
